# Configuración de Base de Datos (Docker Local)
# ¡Apunta obligatoriamente al contenedor 'db' de Docker Compose!
DATABASE_URL=postgresql://homestock_user:homestock_pass@db:5432/homestock_db

# Seguridad de Flask
SECRET_KEY=cambia_esto_por_una_llave_secreta_muy_larga_y_compleja

# Integración con Google Gemini (Inteligencia Artificial)
GEMINI_API_KEY=tu_api_key_de_google_ai_studio_aqui

# Integración con Telegram Bot
TELEGRAM_TOKEN=tu_token_de_telegram_aqui

# OpenWeatherMap (Opcional - Para el dashboard de TV/Tablet)
OPENWEATHER_API_KEY=tu_openweather_api_key
OPENWEATHER_CITY=Buenos Aires, AR
